---
---

    <section class="flex-col md:flex-row flex items-center md:justify-between mt-16 mb-16 md:mb-12">
      <h1 class="text-6xl md:text-8xl font-bold tracking-tighter leading-tight md:pr-8">
        <img src="https://www.datocms-assets.com/132822/1717100996-ljungby-fishing-logga.jpg" width="450">
      </h1>
      <h4 class="text-center md:text-left text-lg mt-5 md:pl-8">
        Öppettider: Måndag-Fredag 10-18, <br>
        Lördag 10-15, Söndag 11-15.<br>
Ringvägen 1A (vid Ljungbystopp) Telefon: 0372-125 00<br>
{" "}
      </h4>
    </section>